<table>
  <tr>
    <td>
      @if(isParaVisible === true){

      <p>This is sample para</p>
      }@else {
      <h3>isParaVisible has false value</h3>
      }
    </td>
  </tr>
  <tr>
    <td>
      <button (click)="showPara()">Show Para</button>
    </td>
    <td>
      <button (click)="hidePara()">Hide Para</button>
    </td>
  </tr>
  <tr>
    <td>
      <ul>
        @for(item of cityList; track $index){

        <li>{{ item }}</li>
        }
      </ul>
    </td>
    <td>
      <select>
        @for(item of cityList; track $index){
        <option>{{ item }}</option>
        }
      </select>
    </td>
  </tr>
</table>

<br />

<table>
  <thead>
    <tr>
      <th>Sr No</th>
      <th>Name</th>
      <th>City</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    @for(item of studentList; track $index){
    <tr>
      <td>{{ $index + 1 }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.city }}</td>
      <td>
        @if(item.isActive === true){
        <h4>Active</h4>
        }@else{
        <h4>Deactive</h4>
        }
      </td>
    </tr>
    }
  </tbody>
</table>
